.node-red/.flows_WIN-TSLFVI17PUN.json.backup
[{"id":"f48a5ae0.e19508","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1476d667.7bbcaa","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9bc9d80b.6f3b98","type":"mqtt-broker","z":"","name":"AMPQ","broker":"otter.rmq.cloudamqp.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8a1b2a41.6a1818","type":"mqtt-broker","z":"","name":"AMPQ","broker":"otter.rmq.cloudamqp.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6c04eb02.054cc4","type":"mqtt-broker","z":"","name":"AMPQ","broker":"otter.rmq.cloudamqp.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1dc440d6.40f5cf","type":"ui_tab","z":"f48a5ae0.e19508","name":"Home","icon":"dashboard"},{"id":"183be765.7cd469","type":"ui_group","z":"f48a5ae0.e19508","name":"SmartCar","tab":"1f199f9a.8d1a4","disp":true,"width":"6","collapse":false},{"id":"2d30f1ae.f5e0ee","type":"mqtt out","z":"1476d667.7bbcaa","name":"","topic":"30AEA4248078/Buzzer","qos":"","retain":"","broker":"9bc9d80b.6f3b98","x":530,"y":280,"wires":[]},{"id":"b967561b.66fae8","type":"mqtt out","z":"1476d667.7bbcaa","name":"","topic":"30AEA4248078/MotorsForward","qos":"","retain":"","broker":"8a1b2a41.6a1818","x":970,"y":400,"wires":[]},{"id":"676c364c.dd76c8","type":"mqtt out","z":"1476d667.7bbcaa","name":"","topic":"30AEA4248078/ServoControl","qos":"","retain":"","broker":"8a1b2a41.6a1818","x":930,"y":760,"wires":[]},{"id":"3a1d532d.fa991c","type":"mqtt out","z":"1476d667.7bbcaa","name":"","topic":"30AEA4248078/MotorsStop","qos":"","retain":"","broker":"8a1b2a41.6a1818","x":960,"y":620,"wires":[]},{"id":"fe9422af.5996e","type":"mqtt out","z":"1476d667.7bbcaa","name":"","topic":"30AEA4248078/MotorsReverse","qos":"","retain":"","broker":"8a1b2a41.6a1818","x":970,"y":500,"wires":[]},{"id":"8c1cfc6c.c33ed","type":"inject","z":"1476d667.7bbcaa","name":"Steering Central Start","topic":"","payload":"35","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"","x":320,"y":800,"wires":[["676c364c.dd76c8"]]},{"id":"29c4054a.37a64a","type":"function","z":"1476d667.7bbcaa","name":"","func":"msg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\nmsg5 = {};\nmsg6 = {};\n\nvar instruction = msg.payload.substring(0,3);\nvar value = msg.payload.substring(4);\n\nif (instruction == \"fwd\"){\nvalue = parseInt(value);\n    if (value > 220){\n        value = 220;\n    }\nmsg1.payload = value;\n    if (value < 0){\n        value = 0;\n    }\n}\n\nif (instruction == \"bwd\"){\nvalue = parseInt(value);\nmsg6.payload = value;\n}\n\nif (instruction == \"rev\"){\nvalue = parseInt(value);\n    if (value > 150){\n        value = 150;\n    }\nmsg2.payload = value; \n}\n\nif (instruction == \"stp\"){\nmsg3.payload = \"Stop\";\nmsg1.payload = 0;\nmsg5.payload = 35;\n}\n\nif (instruction == \"lft\"){\nvalue = parseInt(value); \n    if (value < 20){\n        value = 20;\n    }\nmsg4.payload = value\n}\nif (instruction == \"rht\"){\nvalue = parseInt(value); \n    if (value > 55){\n        value = 55;\n    }\nmsg5.payload = value;\n}\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6];","outputs":6,"noerr":0,"x":330,"y":540,"wires":[["cece22ac.4855b"],["d1c9d6a3.f79e98"],["79e0b8d7.763488"],["ca5a1c59.e71ad"],["53b9615b.44295"],["de517d77.3479a"]]},{"id":"ca5a1c59.e71ad","type":"switch","z":"1476d667.7bbcaa","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"20","vt":"num","v2":"55","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":640,"wires":[["676c364c.dd76c8"]]},{"id":"53b9615b.44295","type":"switch","z":"1476d667.7bbcaa","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"20","vt":"num","v2":"55","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":700,"wires":[["676c364c.dd76c8"]]},{"id":"cece22ac.4855b","type":"switch","z":"1476d667.7bbcaa","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"255","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":460,"wires":[["b967561b.66fae8","7fcc7b46.203ee4"]]},{"id":"d1c9d6a3.f79e98","type":"switch","z":"1476d667.7bbcaa","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"255","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":520,"wires":[["fe9422af.5996e","7fcc7b46.203ee4"]]},{"id":"79e0b8d7.763488","type":"switch","z":"1476d667.7bbcaa","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Stop","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":580,"wires":[["3a1d532d.fa991c"]]},{"id":"de517d77.3479a","type":"switch","z":"1476d667.7bbcaa","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"255","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":380,"wires":[["b967561b.66fae8","7fcc7b46.203ee4"]]},{"id":"8b3c283a.0b1228","type":"mqtt in","z":"1476d667.7bbcaa","name":"","topic":"30AEA4248078/dht/temperature","qos":"2","broker":"6c04eb02.054cc4","x":270,"y":1000,"wires":[["e7a6dbfc.5526a8","59365f37.5b8d9"]]},{"id":"4adbe2b7.d92b6c","type":"mqtt in","z":"1476d667.7bbcaa","name":"","topic":"30AEA4248078/dht/humidity","qos":"2","broker":"6c04eb02.054cc4","x":272.99999237060547,"y":1085,"wires":[["a0c67b3.9bd2688","50aef637.7a6f58"]]},{"id":"edfcd4dc.405268","type":"mqtt in","z":"1476d667.7bbcaa","name":"","topic":"30AEA4248078/test","qos":"2","broker":"9bc9d80b.6f3b98","x":190,"y":60,"wires":[["a9fcfbf8.3872f8"]]},{"id":"a9fcfbf8.3872f8","type":"debug","z":"1476d667.7bbcaa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":40,"wires":[]},{"id":"59365f37.5b8d9","type":"debug","z":"1476d667.7bbcaa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":1040,"wires":[]},{"id":"50aef637.7a6f58","type":"debug","z":"1476d667.7bbcaa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":1140,"wires":[]},{"id":"b26b4848.260668","type":"ui_button","z":"1476d667.7bbcaa","name":"","group":"8a1845a1.535228","order":7,"width":0,"height":0,"passthru":false,"label":"Speak to Me","color":"","bgcolor":"","icon":"","payload":"Welcome to Hypersmarts SmartCar Kit for learning about the internet of things","payloadType":"str","topic":"","x":230.99999237060547,"y":908,"wires":[["946e4e47.2302a"]]},{"id":"e7a6dbfc.5526a8","type":"ui_gauge","z":"1476d667.7bbcaa","name":"","group":"8a1845a1.535228","order":5,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":777,"y":970,"wires":[]},{"id":"a0c67b3.9bd2688","type":"ui_gauge","z":"1476d667.7bbcaa","name":"","group":"8a1845a1.535228","order":6,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":748,"y":1061,"wires":[]},{"id":"7fcc7b46.203ee4","type":"ui_gauge","z":"1476d667.7bbcaa","name":"","group":"8a1845a1.535228","order":3,"width":0,"height":0,"gtype":"gage","title":"Speed","label":"mph","format":"{{value}}","min":0,"max":"220","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":300,"wires":[]},{"id":"946e4e47.2302a","type":"ui_audio","z":"1476d667.7bbcaa","name":"","group":"8a1845a1.535228","voice":"en-GB","always":"","x":779,"y":902,"wires":[]},{"id":"aa7b7ba3.1c8ba8","type":"ui_template","z":"1476d667.7bbcaa","group":"8a1845a1.535228","name":"Buzzer","order":2,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-around  end\">\n<md-button ng-click=\"send({payload: 'play tune'})\" class=\"fa fa-music\" style=\"font-size:48px;color:blue\"></md-button>\n</div>\n&nbsp;\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":220,"y":260,"wires":[["2d30f1ae.f5e0ee"]]},{"id":"882e14b7.2f4ad8","type":"ui_template","z":"1476d667.7bbcaa","group":"8a1845a1.535228","name":"Button Mapping","order":4,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"center center\">\n<md-button ng-disabled=\"forward >= 220\" ng-click=\"forward = forward + 20; reverse=0; send({payload: 'fwd-'+forward})\" ng-init=\"forward=0\" class=\"fa fa-chevron-circle-up\" style=\"font-size:48px;color:red\"></md-button>\n</div>\n<div layout=\"row\" layout-align=\"center center\">\n<md-button ng-disabled=\"forward <= 0\" ng-click=\"forward = forward - 20; reverse=0; send({payload: 'bwd-'+forward})\" ng-init=\"forward=0\" class=\"fa fa-chevron-circle-down\" style=\"font-size:48px;color:red\"></md-button>\n</div>\n&nbsp;\n<div layout=\"row\" layout-align=\"space-between centre\">\n  <md-button ng-disabled=\"step <= 20\" ng-click=\"step = step - 5; send({payload: 'lft-'+step})\" ng-init=\"step=35\" class=\"fa fa-chevron-circle-left\" style=\"font-size:48px;color:red\"></md-button>\n  <md-button ng-click=\"count=0; step=35; forward=0; reverse=0; send({payload: 'stp-'+0})\" class=\"fa fa-stop-circle\" style=\"font-size:48px;color:red\"></md-button>\n  <md-button ng-disabled=\"step >= 55\" ng-click=\"step = step + 5; send({payload: 'rht-'+step})\" ng-init=\"step=35\" class=\"fa fa-chevron-circle-right\" style=\"font-size:48px;color:red\"></md-button>\n</div>\n&nbsp;\n<div layout=\"row\" layout-align=\"center center\">\n<md-button ng-disabled=\"reverse >= 150\" ng-click=\"reverse = reverse + 20; forward=0; send({payload: 'rev-'+reverse})\" ng-init=\"reverse=0; forward=0\" class=\"fa fa-chevron-circle-down\" style=\"font-size:48px;color:red\"></md-button>\n</div>\n&nbsp;","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":180,"y":420,"wires":[["29c4054a.37a64a"]]}]